<div data-role="header" data-position="fixed">
    <div class="content_header">
        <h3>路线管理</h3>
    </div>
</div>
<div data-role="content" style="padding: 0">
    {{#each routes}}
        <div class="sub_header">
            {{name}}
            <div class="edit_button" id="{{@index}}">
                编辑
            </div>
        </div>
        <div class="text_panel">
            <b>起点:</b>&nbsp;{{startStation}}&nbsp;&nbsp;&nbsp;&nbsp;<b>终点:</b>&nbsp;{{endStation}}<br>
            <b>途经:</b>&nbsp;{{middleStations}}
        </div>
        {{#each timeRanges}}
            <div class="route_date_info">日期: {{startTime}} ~ {{endTime}}</div>
            {{#if vehicles}}
            <div class="text_panel">
                {{#each vehicles}}
                    <b>{{name}}:</b><br>
                    {{licenseTag}}&nbsp;{{driverName}}&nbsp;<a href="tel:{{driverContact}}">{{driverContact}}</a><br>
                    发车时间: {{#each startPoints}}{{formatTime this}}, {{/each}}
                    <hr>
                {{/each}}
            </div>
            {{/if}}
        {{/each}}
    {{else}}
        <div style="width: 100%; text-align: center; font-size: x-large;">
                    <b>您尚未添加任何路线!</b>
        </div>
    {{/each}}
</div>
<div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div class="footer_btn" id="btn_add_route">
        添加路线
    </div>
</div>