<div data-role="header" data-position="fixed">
    <div class="content_header" style="background-color: gray;">
        <h3>路线管理</h3>
    </div>
</div>
<div data-role="content" style="padding: 0">
    {{#each routes}}
        <div class="content_header">
            {{name}}
            <div class="edit_button" id="btn_edit_route">
                编辑
            </div>
        </div>
        <div class="text_panel">
            <b>起点:</b>&nbsp;{{startStation}}&nbsp;&nbsp;&nbsp;&nbsp;<b>终点:</b>&nbsp;{{endStation}}<br>
            <b>途经:</b>&nbsp;{{#each middleStations}}{{this}}, {{/each}}
        </div>
        {{#each timeRanges}}
            <div class="route_date_info">日期: {{startTime}} ~ {{endTime}}</div>
            {{#if vehicles}}
            <div class="text_panel">
                {{#each vehicles}}
                    <b>{{name}}:</b><br>
                    {{licenseTag}}&nbsp;{{driverName}}&nbsp;{{driverContact}}<br>
                    发车时间: {{#each startPoints}}{{this}}, {{/each}}
                    <hr>
                {{/each}}
            </div>
            {{/if}}
        {{/each}}
    {{else}}
        <div style="width: 100%; text-align: center; font-size: x-large;">
                    <b>您尚未添加任何路线!</b>
        </div>
    {{/each}}
</div>
<div data-role="footer" data-position="fixed">
    <div class="footer_btn" id="btn_add_route">
        添加路线
    </div>
</div>
{{!--
<button id="add_route" style="background-color: darkgreen">添加路线</button>
{{#each nav}}
  <a href="{{url}}">
    {{#if test}}
      {{title}}
    {{^}}
      Empty
    {{/if}}
  </a>
{{~/each}}

{
  routes:[
    {
      name: '望京西S1',
      path:['望京西站','福马大厦','竹藤大厦', '望京soho']
      timeRange:[
        {
          startTime: '2014.12.01',
          endTime: '2014.12.05',
          vehicles:[
            {
              name: '巴士A1',
              id  : '京CA0653',
              driverName: '陈师傅',
              driverPhone: '18888888888',
              setoutTime: ['07:20', '08:00', '08:40', 09:20]
            },
            {
              name: '巴士A2',
              id  : '京CA0654',
              driverName: '李师傅',
              driverPhone: '19999999999',
              setoutTime: ['07:40', '08:20', '09:00']
            }
          ]
        },
        {
          startTime: '2014.12.06',
          endTime: '2014.12.10',
          vehicles:[
            {
              name: '巴士A1',
              id  : '京CA0653',
              driverName: '陈师傅',
              driverPhone: '18888888888',
              setoutTime: ['07:30', '08:10', '08:50', 09:30]
            },
            {
              name: '巴士A2',
              id  : '京CA0654',
              driverName: '李师傅',
              driverPhone: '19999999999',
              setoutTime: ['07:50', '08:30', '09:10']
            }
          ]
        }
      ]
    },
    {
      name: '望京西S1',
      path:['望京西站','福马大厦','竹藤大厦', '望京soho']
      period:[
        {
          startTime: '2014.12.01',
          endTime: '2014.12.05',
          vehicles:[
            {
              name: '巴士A1',
              id  : '京CA0653',
              driverName: '陈师傅',
              driverPhone: '18888888888',
              setoutTime: ['07:20', '08:00', '08:40', 09:20]
            },
            {
              name: '巴士A2',
              id  : '京CA0654',
              driverName: '李师傅',
              driverPhone: '19999999999',
              setoutTime: ['07:40', '08:20', '09:00']
            }
          ]
        },
        {
          startTime: '2014.12.06',
          endTime: '2014.12.10',
          vehicles:[
            {
              name: '巴士A1',
              id  : '京CA0653',
              driverName: '陈师傅',
              driverPhone: '18888888888',
              setoutTime: ['07:30', '08:10', '08:50', 09:30]
            },
            {
              name: '巴士A2',
              id  : '京CA0654',
              driverName: '李师傅',
              driverPhone: '19999999999',
              setoutTime: ['07:50', '08:30', '09:10']
            }
          ]
        }
      ]
    }
  ]
}
--}}