<div data-role="content" style="padding: 10px;">
    <div style="padding:5px; background-color:white; color:gray">
        <div style="height:10px; "></div>
        <div style="font-size: x-large">
            <span style="color:red">预约失败!</span>
        </div>
        <div style="height:10px"></div>
        <div style="background-color: #EAEAEA; height: 1px"></div>
        <div style="height:15px"></div>
        {{printDateInChinese route.selectedDate}} {{route.reservationTime}}
        <div style="height:5px;"></div>
        {{route.startStation}} 开往 <span style="color:black">{{route.endStation}}</span>
        <div style="height:5px;"></div>
        途经: {{route.middleStations}}
        <div style="height:15px;"></div>
        <div style="padding: 5px 0;font-size: larger; background-color: #F2F2F2">
            乘车地点: {{route.startStationDesc}}
        </div>
        <div style="height:15px"></div>
        <span style="color:red; font-size: larger">
            {{error.message}}
        </span>
        <div style="height:10px"></div>
    </div>
    <div style="height:20px"></div>
    <div class="div_with_title">
        <h1 class="div_title"><span style="color: #00C54F; background-color: #f9f9f9;"> &nbsp;&nbsp;温馨提示&nbsp;&nbsp;</span></h1>
        1. 请提前安排好出行时间，班车按时发车,不等候。<br>
        2. 请上车时出示此消息。 <br>
        3. 如果找不到乘车地点，请与司机联系询问。
    </div>
    <div style="height:10px"></div>
</div>
<div class="footer_btn" id="btn_restore_failed" style="position:fixed;bottom:0;width:100%">
    重新预约
</div>