<div data-role="content" style="padding: 10px ">
    <div style="font-size: larger">
        <strong style="color:#6C6969;">{{name}}:</strong> <br>
        <div style="height:5px;"></div>
        {{startStation}}  <span style="color:#00C54F">开往</span>  {{endStation}}<br>
        <div style="height:5px;"></div>
        <div style="font-size: large">
        途经: {{middleStations}}
        </div>
    </div>
    <div style="height:5px"></div>
    <div>
        {{#if availableStartPointsArray}}
            <div style="color:#999999;font-size: large">请选择乘车时间:</div>
            <div style="height:5px"></div>
            {{printDateInChinese selectedDate}}<br>
            <div class="ui-grid-c" style="width:100%">
                {{#each availableStartPointsArray}}
                    {{#conditionalDiv @index}}
                        <input class="radio" data-role="none" type="radio" name="firstDay" value="{{this}}" id="{{this}}">
                        <label class="trigger" data-role="none" for="{{this}}">{{formatTime this}}</label>
                    {{/conditionalDiv}}
                {{/each}}
            </div>
            <div style="border:1px dashed #00C54F; color:#00C54F; padding: 8px; background-color: white" id="bus_status">
            </div>
            <div style="height:10px"></div>
            <label for="user_phone">请留下您的联系方式,以便司机与您联系:</label>
            <input type="text" name="userPhone" id="user_phone" placeholder="联系电话,由13/15/18开头的11位数字组成">
            <label for="user_name">您怎么称呼?</label>
            <input type="text" name="userName" id="user_name" placeholder="您的姓名">
            <label for="route_map">路线地图:</label>
        {{else}}
            <strong>抱歉, 车辆已满员,请选择其他路线!</strong><br>
        {{/if}}
        <img src="{{mapFileName}}" id="route_map" style="width: 100%;">
    </div>
    <div class="footer_btn" id="btn_submit">
        预约巴士
    </div>
</div>